*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.header {
	background-color: #7a2e40;
	text-align: right;
	padding: 10px;
}
.shadow {
	box-shadow: 0 6px 4px -4px rgba(0,0,0,0.3);
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.menu li{
	display: inline;
	border-right: 1px solid white;
	list-style: none;
	padding-right: 10px;
	padding-left: 10px;
}
li:last-child {
	border-right: none;
}
.main {
	display: flex;
}
.content {
	padding: 30px;
	width: 80%;
}
.border {
	border: 1px solid grey;
}
.border-bottom {
	border-bottom: 1px solid grey;
}
.light-grey {
	background-color: lightgrey;
}
.float-left {
	float: left;
}
.clear {
	clear: both;
}
.right-block {
	width: 20%;
	padding: 20px;
}
.right-block img {
	width: 100%;
}
h3 {
	color: #7a2e40;
	font-weight: bold;
	font-size: 16px;
}
#paws {
	list-style-image: url("../images/paws.png");
}
