/*
=============================
 common style
=============================
*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
h2, h3 {
	color: #7a2e40;
	font-weight: bold;
	font-size: 16px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	min-width: 400px;
}
/*
=============================
 end common style
=============================
*/
/*
=============================
 style for header
=============================
*/
.header {
	background-color: #7a2e40;
	text-align: right;
	padding: 10px;
}
.shadow {
	box-shadow: 0 3px 2px 0 rgba(0,0,0,0.3);
}
.menu {
	padding-right: 20px;
}
.menu a {
	color: white;
	text-decoration: none;
}
.menu a:hover {
	text-decoration: underline;
}
.menu li{
	display: inline;
	border-right: 1px solid white;
	list-style: none;
	padding-right: 10px;
	padding-left: 10px;
}
li:last-child {
	border-right: none;
}
/*
=============================
 end style for header
=============================
*/
/*
=============================
 style for main
=============================
*/
.main {
	display: flex;
	padding: 0 20px;
	min-height: calc(100vh - 102px);
}
.content {
	padding: 30px;
	width: 80%;
}
.important-box, .paws {
	background-color: lightgrey;
	border: 1px solid grey;
	padding: 10px 0;
	line-height: 30px;
}
.important-box {
	line-height: 18px;
	padding: 20px;
	margin: 30px 0 20px;
}
.border {
	border: 1px solid grey;
}
.border-bottom {
	border-bottom: 1px solid grey;
	padding: 0 0 10px;
	margin: 0 0 10px;
}
.light-grey {
	background-color: lightgrey;
}
.list-square {
	padding-top: 15px;
}
.list-square li:before {
	color: #7a2e40;
	content: "\25AA";
	padding: 0 10px 0 0;
	font-size: 20px;
}
.float-left {
	float: left;
}
.clear {
	clear: both;
}
.right-block {
	width: 20%;
	padding: 20px;
}
.right-block img {
	width: 100%;
}
.shadow-pic {
	box-shadow: 0 13px 4px -4px rgba(0,0,0,0.1);
}
.paws li:before {
	content: url("../images/paws.png");
	padding: 0 10px 0 0;
}
.paws li {
	margin: 0 25px 0 30px;
}
.paws a {
	color: #7a2e40;
	text-decoration: underline;
}
.paws a:hover {
	color: brown;
}
h3 {
	padding: 10px 0;
}
.text-animation {
	display: inline-block;
	position: relative;
}
.text-animation:hover::after {
	content: attr(data-title);
	position: absolute;
	bottom: 10px;
	z-index: 1;
	background: rgba(133,133,133,0.2);
	font-size: 10px;
	padding: 5px 10px;
	border: 1px solid rgba(133,133,133,0.2);
}
.text-animation:hover {
	animation: shake 0.9s;
}
@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(2px, 0, 0);
	}
}
/*
=============================
 end style for main
=============================
*/
/*
=============================
 style for footer
=============================
*/
.footer {
	background-color: rgba(133, 133, 133, 0.1);
	border-top: 2px solid rgba(133, 133, 133, 0.2);
	padding: 10px 0 10px 40px;
}
/*
=============================
 end style for footer
=============================
*/
/*
=============================
 mobile version style
=============================
*/
@media (max-width: 600px){

	.content,.right-block {
		width: 100%;
		float: none;
	}
	.main {
		display: block;
	}
}
/*
=============================
end mobile version style
=============================
*/
